<!-- Validation failure messages -->
<% if @location_geography.errors.any? %>
  <% @location_geography.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Location Geography</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_location_geography" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for geography_id -->
      <div class="form-group">
        <label for="geography_id" class="control-label">
          Geography
        </label>

        <%= select_tag(:geography_id, options_from_collection_for_select(Geography.all, :id, :geography, @location_geography.geography_id), :class => "form-control") %>
      </div>

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Location
        </label>

        <input type="text" id="location_id" name="location_id" placeholder="Location" class="form-control" value="<%= @location_geography.location_id %>">
      </div>

      <button class="btn btn-success">
        Create Location Geography
      </button>
      or
      <a href="/location_geographies">Cancel</a>
    </form>
  </div>
</div>
