<div class="page-header">
  <h3>Geography #<%= @geography.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Geography</dt>
      <dd><%= @geography.geography %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/geographies" class="btn btn-primary">
        Back
      </a>
      <a href="/geographies/<%= @geography.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_geography/<%= @geography.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
